.addLostForm {
    border-top: 3px solid #e77817;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.lostStep {
    color: #fff;
    position: absolute;
    top: 10px;
    left: -10px;
    background: #e77817; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
}